.header-container {
  width: calc(100% - 60px - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
  border-bottom: solid var(--grey); }
  .header-container .left {
    display: flex;
    align-items: center; }
  .header-container .right {
    display: flex;
    align-items: center; }
    .header-container .right .form-input {
      height: 2rem;
      font-size: 1.5rem;
      border-radius: 15px; }
    .header-container .right .form-input:focus {
      outline: none; }
    .header-container .right .search-button {
      cursor: pointer;
      border: 2px solid black;
      margin-left: 15px;
      margin-right: 0px;
      border-radius: 15px;
      padding: 1px 2px;
      height: 2rem;
      width: 2rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center; }
  .header-container .header-link {
    height: 5rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .header-container .logo {
    height: 100%;
    width: auto;
    padding-right: 2rem; }
  .header-container .header {
    color: black;
    font-size: 3rem; }
  .header-container .header:active {
    color: #292929; }
  .header-container .logo:active, .header-container header:active {
    margin-bottom: -10px; }
