.header-container{
    width: calc(100% - 60px - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin: auto;
    border-bottom: solid var(--grey);

    .left{
        display: flex;
        align-items: center;
    }
    .right{
        display: flex;
        align-items: center;

        .form-input{
            height: 2rem;
            font-size: 1.5rem;
            border-radius: 15px;
        }
        .form-input:focus{
            outline: none;
        }

        .search-button{
            cursor: pointer;
            border: 2px solid black;
            margin-left: 15px;
            margin-right: 0px;
            border-radius: 15px;
            padding: 1px 2px;
            height: 2rem;
            width: 2rem;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .header-link{
        height: 5rem;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .logo{
        height: 100%;
        width: auto;
        padding-right: 2rem;
    }
    .header{
        color: black;
        font-size: 3rem;
    }
    .header:active{
        color: rgb(41, 41, 41);
    }
    .logo:active, header:active{
        margin-bottom: -10px;
    }
}