@font-face {
    font-family: RobotoRegular;
    src: url("../../src/fonts/Roboto-Regular.ttf");
}

:root{
    font-size: 20px;
    font-family: RobotoRegular;
    --grey: #2c2c2c;
}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main-frame{
    min-height: 100%;
    min-width: 100%;
}